@import url("navbar.css");
@import url("login.css");
@import url("register.css");

body,
.login__wrapper,
.register__wrapper {
    background-color: #f3f4f6;
    height: calc(100vh - 70px);
}

.login__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: #0f172a;
    bottom: -12px;
    left: calc(50% - 50px);
}
